.to
{
	margin-left:38%;
	
	margin-top:3%;
}

.subject
{
	margin-left:38%;
	margin-top:1%;
}

.message
{
	margin-left:38%;
	margin-top:1%;
}

.floatCtrl
{
	display:block;
	margin-left;
	
}
.submit{
	text-align:Center;
	margin-top:1%;
}

